<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Kaçıncı Kişi</th>
                <th>İsim Soyisim</th>
                <th>Masa Numarası</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>1</td>
                <td>Zafer Gök</td>
                <td>15</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Saim Akın Ankaralı</td>
                <td>38</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Tamer Ankaralı</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
